*, *::before, *::after {
    font-family: 'Visitor', serif;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul {
    list-style: none;
}

img,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #C4C4C4;
}

a {
    text-decoration: none;
    color: black;
}


/*MENU BUTTON*/

.button {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    transition: all 0.1s ease;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    user-select: none;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.button:active {
    background: rgba(0, 0, 0, 0.1);
}

/*LOBBY FIELD*/
.lobbyField {
    position: relative;
}

.lobbyField__img {
    position: absolute;
    top: 18px;
    right: 30px;
}

/*CLOSE BUTTON*/
.closeButton {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    height: 53px;
    width: 53px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

/*HERO*/
.hero {
    padding-top: 56px;
    width: 700px;
    height: 150px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
}

.hero-descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-descr h2 {
    font-size: 60px;
    line-height: 55px;
}

.hero-descr h3 {
    font-size: 32px;
    line-height: 32px;
}

.hero-exp {
    width: 500px;
    height: 33px;
    background-color: #FFFFFF;
    text-align: center;
}

.hero-exp span {
    font-size: 18px;
    line-height: 33px;
}

.hero-character {
    display: flex;
    flex-direction: column;
    padding-top: 67px;
    overflow-wrap: break-word;
    align-items: center;
}

.hero-img {
    height: 536px;
}

.hero__btn {
    margin-top: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    font-size: 40px;
    width: 275px;
    text-align: center;
}

.profile {
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
}


/*MODALS*/

/*FINDGAME*/
.find__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: calc(100vh - 100px);
    width: calc(100vw - 600px);
    background-color: #C4C4C4;
    border: 5px solid #626262;
    z-index: 1;
}

.find__modal__wrapper {
    padding: 65px 0;
    width: 737px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.find__modal__btns {
    display: flex;
    justify-content: space-between;
}

.find__modal__btn {
    width: 344px;
    height: 76px;
    font-size: 30px;
    line-height: 76px;
}

.find__modal__list {
    display: flex;
    flex-direction: column;
    height: 60%;
    overflow: auto;
}

.find__modal__list-item {
    padding-left: 27px;
    margin-bottom: 14px;
    height: 76px;
    width: 100%;
    font-size: 30px;
    line-height: 76px;
    list-style-type: none;
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 5px;
}

.find__modal__list-item:last-child {
    margin-bottom: 0;
}

.find__modal__list-item-select {
    background: rgba(255, 255, 255, 0.3);
}

/*CREATE LOBBY*/
.create__modal {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
    height: 400px;
    background-color: #C4C4C4;
    border: 5px solid #626262;
}

.create__modal-btn {
    padding-left: 27px;
    height: 70px;
    margin-bottom: 24px;
    line-height: 70px;
    background: #FFFFFF;
    border-radius: 5px;
}

.create__modal-btn-selected {
    border: 3px solid #626262;
    background: rgba(255, 255, 255, 0.5);
}

.create__modal-form {
    padding-top: 97px;
    width: 390px;
    height: 230px;
    margin: 0 auto;
}

.create__modal-form * {
    font-size: 30px;
    font-family: 'Visitor', serif;
}

.create__modal-form button {
    border: none;
    width: 100%;
    height: 45px;
    background-color: #626262;
    color: #FFFFFF;
}

/*LOBBY*/

.lobby__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: calc(100vh - 100px);
    width: calc(100vw - 600px);
    background-color: #C4C4C4;
    border: 5px solid #626262;
    z-index: 1;
}

.lobby__modal__wrapper {
    position: relative;
    padding-top: 50px;
    width: 737px;
    height: 100%;
    margin: 0 auto;
}

.lobby__modal__btn {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    height: 94px;
    border-radius: 5px;
    font-family: 'Visitor', serif;
    font-size: 30px;
    border: none;
    width: 100%;
    background-color: #626262;
    color: #FFFFFF;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.lobby__modal form button:hover {
    background-color: green;
}

.lobby__modal__title {
    font-size: 70px;
}

.lobby__modal__descr {
    font-size: 30px;
    height: 156px;
    text-align: center;
}

.lobby__modal__lock {
    padding-top: 20px;
    width: 31px;
    height: 59px;
}

img .lobby__modal__lock {
    width: 100%;
}

.lobby__modal__players {
    margin-top: 40px;
    list-style-type: none;
}

.lobby__modal__players li {
    padding-left: 27px;
    margin-bottom: 34px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 5px;
}

.lobby__modal__players-waiting {
    font-size: 40px;
    line-height: 200px;
    text-align: center;
    color: #000000;
    opacity: 0.3;
}

.lobby__modal__player {
    width: 100%;
    padding: 20px 0;
}

.lobby__modal__player__img {
    float: left;
    width: 103.65px;
    height: 160px;
}

.lobby__modal__player__descr {
    height: 100%;
    padding-left: 53px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.lobby__modal__player__nickname {
    font-size: 40px;
}

/*GAMEFIELD*/

/*CARD*/

.card {
    height: 245px;
    width: 175px;
    cursor: pointer;
    background-color: red
}

.selectedCard {
    border: 3px solid #595757;
}

/*DECKSTATUS*/

.deck {
    width: 320px;
    height: 100px;
    background: #C4C4C4;
    border: 4px solid #626262;
    padding: 15px 56px;
}

.deck p {
    text-align: center;
    font-size: 20px;
}

.cardBtn {
    width: 145px;
    height: 100px;
    background: #C4C4C4;
    border: 4px solid #626262;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

.cardBtn:hover {
    background: #FFFFFF;
}

.cardBtn p {
    text-align: center;
    font-size: 20px;
}

.deck__wrapper {
    padding-top: 7px;
    width: 190px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.available {
    width: 32px;
    height: 3px;
    background: #20D6C7;
}

.missing {
    width: 32px;
    height: 3px;
    background: #626262;
}

.availableMana {
    width: 32px;
    height: 15px;
    background: #20D6C7;
}

.missingMana {
    width: 32px;
    height: 15px;
    background: #626262;
}

/*UNIT*/

.unit {
    display: inline-block;
    cursor: pointer;
    height: 352px;
}

.unit .mirror {
    transform: scaleX(-1);
}

.unit .hp {
    position: absolute;
    width: 132px;
    height: 15px;
    background-color: green;
    border: 2px solid #FFFFFF;
    bottom: -25px;
    left: 132px;
}

.unit__health {
    position: absolute;
    bottom: -15px;
    left: 82px;
    font-size: 40px;
    color: green;
    -webkit-text-stroke: 2px #000000;
}

.unit__attack {
    position: absolute;
    bottom: -15px;
    left: 195px;
    font-size: 40px;
    color: #ff0000;
    -webkit-text-stroke: 2px #000000;
}

.unit__btn {
    margin-bottom: 25px;
    margin-right: 10px;
    font-size: 16px;
    color: blue;
    cursor: pointer;
}

.unit__btn:hover {
    color: red;
}

/*PAGES*/

/*AUTH*/
.auth {
    background-image: url("../img/Backgrounds/AuthBg.gif");
}

.auth__container {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.auth__wrapper {
    height: 230px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*MENU*/
.menu {
    background: url("../img/Backgrounds/MenuBg.png") no-repeat;
    z-index: 0;
}

.hide {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.z-2 {
    z-index: 2;
}

.menu__container {
    width: calc(100vw - 55px);
    height: 100vh;
    margin: 0 auto;
}

.menu__wrapper {
    display: flex;
    justify-content: space-between;
}

.sidemenu {
    padding-top: 250px;
}

.sidemenu__wrapper {
    height: 586px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*GAMEFIELD*/

.game__container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.top {
    position: absolute;
    width: 450px;
    height: 55px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 35px;
    line-height: 55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.angle {
    position: absolute;
    width: 80px;
    height: 80px;
    top: -42px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
}

.angle-left {
    left: -40px;
}

.angle-right {
    right: -40px;
}

.battlefield {
    position: relative;
    background: url("../img/Backgrounds/BattleGround.png") no-repeat;
    height: calc(100% - 250px);
}

.table {
    background: url("../img/Backgrounds/Interface.png");
    background-color: rgba(0, 0, 0, 0);
    padding-top: 53px;
    position: absolute;
    bottom: 0;
    background-color: #FFFFFF;
    height: 380px;
    width: 100%;
    border-top: 4px solid #626262;
}

.table__status {
    position: absolute;
    height: 245px;
    top: 63px;
    right: 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.table__btns {
    position: absolute;
    height: 245px;
    width: 320px;
    top: 63px;
    left: 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.table__btns-actions {
    display: flex;
    justify-content: space-between;
}

.hand {
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 245px;
}

.endturn {
    width: 100%;
    height: 60px;
    background-color: #20D6C7;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    border: 4px solid #1D887F;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

.endturn:hover {
    background: #27FFED
}

.player-field div[data-pos='0'] {
    position: absolute;
    left: -7px;
    top: 167px;
}

.player-field div[data-pos='1'] {
    z-index: 7;
    position: absolute;
    left: 302px;
    top: 333px;
}

.player-field div[data-pos='2'] {
    position: absolute;
    left: 573px;
    top: 236px;
}

.player-field div[data-pos='3'] {
    position: absolute;
    right: 567px;
    top: 220px;
}

.player-field div[data-pos='4'] {
    z-index: 7;
    position: absolute;
    right: 276px;
    top: 314px;
}

.player-field div[data-pos='5'] {
    position: absolute;
    right: 22px;
    top: 179px;
}

/*DECORATIONS*/
.servers {
    position: absolute;
    left: 215px;
    top: 229px;
}

.bags #bag1, #bag2, #bag3 {
    position: absolute;
}

#bag1 {
    left: 183px;
    top: 584px;
}

#bag2 {
    left: 222px;
    top: 559px;
    z-index: 3;
}

#bag3 {
    left: 247px;
    top: 572px;
    z-index: 2;
}

.supplies #sup1, #sup2, #sup3, #sup4 {
    position: absolute;
}

#sup1 {
    left: 400px;
    top: 467px;
    z-index: 2;
}

#sup2 {
    left: 400px;
    top: 511px;
}

#sup3 {
    left: 528px;
    top: 477px;
    z-index: 6;
}

#sup4 {
    left: 528px;
    top: 523px;
}

.barrels #bar1, #bar2, #bar3, #bar4, #bar4, #bar5 {
    position: absolute;
}

#bar1 {
    left: 740px;
    top: 368px;
    z-index: 1;
}

#bar2 {
    left: 813px;
    top: 326px;
    z-index: 3;
}

#bar3 {
    left: 813px;
    top: 426px;
    z-index: 2;
}

#bar4 {
    left: 885px;
    top: 268px;
    z-index: 2;
}

#bar5 {
    left: 885px;
    top: 368px;
}

.boxes #box1, #box2, #box3, #box4, #box5, #box6 {
    position: absolute;
}

#box1 {
    left: 909px;
    top: 470px;
    z-index: 2;
}

#box2 {
    left: 981px;
    top: 343px;
    z-index: 2;
}

#box3 {
    left: 981px;
    top: 399px;
}

#box4 {
    left: 1053px;
    top: 339px;
    z-index: 2;
}

#box5 {
    left: 1053px;
    top: 399px;
    z-index: 1;
}

#box6 {
    left: 1122px;
    top: 399px;
}

.bags #bags1, #bags2 {
    position: absolute;
}

#bags1 {
    left: 1318px;
    top: 496px;
    z-index: 6;
}

#bags2 {
    left: 1318px;
    top: 548px;
}

.car #car {
    position: absolute;
    left: 1460px;
    top: 331px;
}

.barrels_grey #barg1, #barg2, #barg3 {
    position: absolute;
}

#barg1 {
    left: 1750px;
    top: 545px;
    z-index: 2;
}

#barg2 {
    left: 1798px;
    top: 517px;
}

#barg3 {
    left: 1846px;
    top: 545px;
    z-index: 2;
}


/*SIGN UP*/
.signUp {
    position: relative;
    height: 325px;
    padding: 101px 26px 23px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 5px;
    justify-content: space-between;
}

.signUp input {
    padding: 13px 23px;
    border: none;
    height: 63px;
    background: #C4C4C4;
    border-radius: 5px;
    font-size: 25px;
}

.signUp button {
    border: none;
    height: 38px;
    background: #626262;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    transition: all ease-in-out .2s;
}

.signUp button:hover {
    background-color: green;
}

.signUp h1 {
    position: absolute;
    top: 30px;
    left: 26px;
    font-size: 48px;
}

.signUp p {
    color: red;
}

.player-status-1 {
    z-index: 10;
    position: absolute;
    top: 40px;
    left: 40px;
    height: 100px;
    width: 485px
}

.player-status-1 .player-status__img {
    float: left;
    width: 100px;
    height: 100px;
    border: 4px solid #626262;
}

.player-status-2 {
    z-index: 10;
    position: absolute;
    top: 40px;
    right: 40px;
    height: 100px;
    width: 485px;
}

.player-status-2 .player-status__img {
    float: right;
    width: 100px;
    height: 100px;
    border: 4px solid #626262;
}

.player-status__descr {
    font-size: 30px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}


.unit__block {
    z-index: 5;
    cursor: pointer;
    height: 350px;
    width: 320px;
}

.tile {
    width: 115px;
    height: 180px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    border-bottom: solid 7px rgba(0, 0, 0, 0.7);
}

.tile:hover {
    border-bottom: solid 7px rgba(255, 255, 255, 0.7);
}

.selectedFriendTile {
    border-bottom: solid 7px rgba(210, 3, 3, 0.7);
}

.selectedEnemyTile {
    border-bottom: solid 7px rgba(141, 3, 210, 0.7);
}

.fantomTile {
    border-bottom: solid 7px rgba(224, 206, 1, 0.0);
}

div[data-pos='0'] .tile {
    bottom: 18px;
    left: 100px;
}

div[data-pos='1'] .tile {
    bottom: 18px;
    left: 100px;
}

div[data-pos='2'] .tile {
    bottom: 18px;
    left: 100px;
}

div[data-pos='3'] .tile {
    bottom: 18px;
    left: 100px;
}

div[data-pos='4'] .tile {
    bottom: 18px;
    left: 100px;
}

div[data-pos='5'] .tile {
    bottom: 18px;
    left: 100px;
}

.smoked {
    height: 60px;
    position: absolute;
    bottom: -27px;
    left: 120px;
}

.shield {
    position: absolute;
    bottom: -11px;
    left: 89px;
    height: 32px;
    z-index: -1;
}
